<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <script>
      console.log('dd');
    </script>
  </head>
  <body>
    <div>
      message:
    </div>
    <image src="/public/test.png" />
  </body>
</html>